<app-header></app-header>
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Acerca de DevOps</h1>
      <p class="lead">DevOps es una filosofía y práctica de ingeniería de software que tiene como objetivo unificar el desarrollo de software (Dev) y las operaciones de software (Ops), creando un ciclo de vida de desarrollo de software más eficiente y productivo.</p>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <h2>¿Por qué DevOps?</h2>
        <p>DevOps permite a las organizaciones entregar productos de software de alta calidad a un ritmo más rápido y con menos problemas. Esto se logra a través de la colaboración constante, la comunicación fluida, la integración y la automatización.</p>
      </div>
  
      <div class="col-md-6">
        <h2>Beneficios de DevOps</h2>
        <ul>
          <li>Entrega más rápida de características</li>
          <li>Menos tiempo de inactividad</li>
          <li>Mayor satisfacción del cliente</li>
        </ul>
      </div>
    </div>
  </div>
  